@import url(/css/reset.css);
@import url(/css/custom.css);

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



:root{
    --primary-color:#7868E6;
    --secondary-color: #d9d9d9;
    --tertiary-color: #f8f8f8;

    --text-color:#333;
    --sub-text-color:#808080;
    --background-color: #fff;
}

html{
    font-size: 16px;
    line-height: 1.5rem;
}



/* header */
.header{
    background: var(--primary-color);
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header-container{
    height: 100%;
    margin: 0;
    padding: 0;
    padding-right: 40px;
}
#admin-logo{
    background: #9386EB;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48px;
    width: 200px;
    height: 48px;
    color: #fff;
}
/* #admin-logo.hide{
    margin-left: 0px;
} */
#admin-logout{
    filter: brightness(1.2);
    font-size: 12px;
}
#admin-logout:hover{
    filter: brightness(.9);
    transition:.15s;
}
#btn-fold{
    position: fixed;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 0;
}



/* footer */
.footer{
    font-size: 12px;
    background:var(--tertiary-color);
    height: 3rem;
    padding-left: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* flex set */
[class*="flex-"]{
    display: flex;
    align-items: center;
    gap: 1rem;
}
[class*="gap-sm"]{
    gap: 0.5rem;
}
[class*="gap-lg"]{
    gap: 3rem;
}

[class*="flex-col"]{
    flex-direction: column;
}
[class*="col-start"]{
    align-items: flex-start;
}
[class*="row-end"]{
    justify-content: flex-end;
}
[class*="row-between"]{
    justify-content: space-between;
}


/* btn set */
    /* basic */
    [class*="btn"]:not(.btn-group){
        display: inline-block;
        border-radius: 0.5rem; 
        font-size: 14px;
        font-weight: 500;  
        padding: 1rem 2rem;
        transition: .3s;
    }
    [class*="btn"]:hover{
        filter: brightness(.9);   
    }
    button:disabled{
        color:var(--sub-text-color)!important;
        background: var(--tertiary-color)!important;
    }

/* tags */
    .btn-default{
        color: var(--sub-text-color);
        background: var(--background-color);
        border: 1px solid var(--secondary-color);
    }
    .btn-primary{
        background: var(--primary-color);
        color: var(--background-color);
    }
    .btn-submit{
        background: var(--text-color);
        color: var(--background-color);
    }
    .btn-filter{
        background: var(--tertiary-color);
    }
    .btn-filter.on{
        background: var(--primary-color);
        color: var(--background-color);
    }
    .btn-delete{
        color: #D92525!important;
    }
    .btn-blocked{
        background: var(--sub-text-color);
        color: var(--background-color);
    }

    /* group */
    .btn-group{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;;
        border-radius: 8px;
    }
    .btn-group button{
        border-radius: 0;
    }

    /* size */
    .btn-sm{
        padding: 0.5rem 1rem!important;
        border-radius: .25em!important;
    }
    .btn-xs{
        padding: 0.25em 0.5em!important;
        border-radius: .25em!important;
    }





/* text set */

    /* font-weight */
    .text-semi_medium{
        font-weight: 500;
    }
    .text-medium{
        font-weight: 600;
    }
    .text-bold{
        font-weight: 700;
    }


    /* font-size */
    .text-sm{
        font-size: 14px;
    }
    .text-xs{
        font-size: 12px;
    }

    /* text-color */
    .text-bg{
        color: var(--background-color);
    }
    .text-sub{
        color: var(--sub-text-color);
    }
    .text-primary{
        color: var(--primary-color);
    }

    /* text-align */
    .text-left{
        text-align: left!important;
    }
    .text-right{
        text-align: right!important;
    }



/* padding set */
.padding-none{
    padding: 0!important;
}



/* login.php */
.container.login{
    margin: 0 auto;
    padding: 21.5vh;
    max-width: 1440px;
}
@media all and (max-width:480px){
    .container.login{
        padding: 21vh 1rem;
        max-width: unset;
    }
}
.title{
    font-size: 2rem;
    font-weight: 700;
}

#form-login{
    margin: 3rem 0;
    width: 20rem;
}

#form-login *{
    width: 100%;
}
#toggle-pwd{
    width: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%; transform:translateY(-50%);
    right: 0.5rem;
    color: var(--sub-text-color);
}
#admin-login{
    width: 100%;
    height: 56px;
}



/* position set */

.pos-relative{
    position: relative;
}



/* nav.php */
#gnb{
    position: fixed;
    top: 3rem;
    left: 0;
    width: 3rem;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}
.gnb-ul{
    position: relative;
}
[class*="gnb-li"]{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-bottom: 1px solid var(--secondary-color);
}
[class*="gnb-li"] button{
    width: 100%;
    height: 100%;

    background-color: var(--tertiary-color);
    color: var(--sub-text-color);

    font-size: 1rem;
}
.gnb-li.on button{
    background: var(--background-color);
    color: var(--primary-color);
}
.gnb-wrapper{
    display: none;
    transition: .33s;
}
.gnb-wrapper.hide{
    width: 0px!important;
    padding: 0!important;
}
.gnb-wrapper.hide *{
    display: none;
}

.gnb-li.on .gnb-wrapper{
    position: absolute;
    top: 0;
    left: 100%;
    padding: 16px;
    border-right: 1px solid var(--secondary-color);
    background: var(--background-color);

    width: 200px;
    min-height: 100vh;
    display: block;
}

/* gnb.php>lnb */
.lnb-ul{
    align-items: flex-start;
}
.lnb-title{
    font-size: 18px;
    font-weight: 600;    
    width: 100%;
    padding: 1rem 0.5rem;
}
.lnb-li{
    width: 100%;
    font-size: 14px;
}
.lnb-li a{
    padding: 1rem 0.5rem;
}
.lnb-li.on{
    color: var(--primary-color);
}
.gnb-badge{
    background: #D92525;
    border-radius: 99px;
    padding: 0.5em 1em;
    font-size: 12px;
    color: #fff;
}



/* container */
.container{
    min-height: calc(100vh - 3rem);
    padding-top: 3rem;
    padding-left: 248px;
    transition: .4s;
}
.container.hide{
    padding-left: 48px;
}
.container-title{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--secondary-color);
}

.container-wr{
    height: calc(100% - 4rem);
    padding: 32px 40px;
}


/* contents-wr */
.contents-wr {
    margin-top: 2rem;
}

.contents-wr:first-child{
    margin: 0;
}

.contents-title{
    margin-bottom: 1rem;
}

/* ellipsis */
[class*="ellipsis-"]{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis-1{
    height: 1.5rem;
}



/* table */
table {
    width: 100%;
    border: 1px solid var(--text-color);
    border-left: none;
    border-right: none;
    table-layout: fixed;
}

thead{
    background: var(--tertiary-color);
    border-bottom: 1px solid var(--text-color);
}

tr{
    border-bottom: 1px solid var(--secondary-color);
}

td:last-child,
th:last-child{
    border-right: none;
}

td.vertical-top{
    vertical-align: top;
}

.thead-list th {
    font-size: 14px;
    color: var(--sub-text-color);    
}

.table-list td, .thead-list th {
    border-right: 1px solid var(--secondary-color);
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
}
.table-list td:last-child:not(.rowspanned),
.thead-list th:last-child{
    border-right: none;
}

.table-edit td{
    padding: 1rem;
    text-align: left;
}
.table-edit tr{
    border-bottom: 1px solid var(--secondary-color);
}
.table-edit .thead-edit{
    background: var(--tertiary-color);
    border-right: 1px solid var(--secondary-color);
    color: var(--sub-text-color);
    font-size: 14px;
    padding: 1rem;
}
.table-img{
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}
.td-big{
    height: 10rem;
}

.tr-blocked{
    background: var(--tertiary-color);
    color: var(--sub-text-color);
}



/* input set */
::placeholder{
    font-size: 14px;
}
[class*="input-"],textarea{
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}
textarea:disabled{
    background: var(--tertiary-color);
}
.input-fill{
    background: var(--tertiary-color);
    border: none;
    width: 20rem;
}
.input-line{
    border: 1px solid var(--secondary-color);
}
.input-table,
.textarea-table{
    outline: none;
    padding: 0!important;
    width: 100%;
    height: 100%;
    border: none;
}

.switch-td{
    position: relative;
}


/* lib */
#editor>*{
    border: 0;
}
#editor_frame{
    width: 100%;
}
#editor_toolbar{
    border-bottom: 1px solid var(--secondary-color);
}
#editor_toolbar>div{
    margin: 0;
}
#editor_toolbar>div>div{
    border: none;
}

/* smartEditor2 */
#smart_editor2{
    width: 100%!important;
}



/* chart set */
.chart{
    /* max-height: 100%; */
    max-height: 30rem;
}
.chart-wr{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}
.chart-small{
    padding: 0 25%;
}
.search-wr .input-line{
    width: 8rem;
    text-align: center;
    cursor: pointer;
}

